body {
  background-image: url('background2.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.container {
  margin: 0 auto;
  max-width: 800px;
  
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-top: 120px;
  color: #1c5784;
}

form {
  display: flex;
}

input[type="text"], input[type="date"] {
  margin-right: 30px;
  flex: 1;
  padding: 10px;
  border-style:double;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  margin-right: 20px;
  background-color: #2079e0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

ul {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #703e3e;
}

li span {
  margin-right: 10px; 
}

li label {
  margin-left: 10px; 
}
li.completed {
  text-decoration: line-through;
}

li span {
  flex: 1;
}

li label {
  margin-left: 10px;
}

li button {
  background-color: #f44336;
  color: rgb(245, 245, 245);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
